p {
    color: rgb(201, 193, 193);
    font-family: "Times New Roman", Times, serif;
    font-weight: 450;
    font-size: 1.5rem;
}

.content{
    color: rgb(201, 193, 193);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    padding: 0 2rem 0 1rem;
    box-sizing:border-box
}

/* h1{ 
    display:inline-block;
    margin-left:6em;  
    
} */

 p{
    margin-bottom:0.5em;
} 


a{
    color: rgb(201, 193, 193);
    text-align: center;
    outline:none;
    border:none;
    text-decoration:none;
    color:inherit;
}

.container_icons > *:hover{
    cursor: pointer;
}

.fa-github{
    padding-right: 1rem;
}

/* .About{
    color: black;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding: 0 2rem 0 1rem;

} */


